* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search {
  margin-bottom: 10px;
  justify-content: right;
  align-items: right;
  height: 40px;
  display: flex;
  flex-direction: row;
  width: 450px;
  margin-top: 20px;
  margin-left: 350px;
  background-color: white;
  border: none;
  border-radius: 10px;
}
input {
  background-color: whitesmoke;
  height: 35px;
  width: 400px;
  margin-left: 2px;
  text-align: center;
  margin-top: 2px;
  border-radius: 10px;
  display: flex;
  border: none;

  outline: none;
}

.header {
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
}
.top {
  background-color: rgb(155, 45, 155);
  height: 70px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  margin-top: 0px;
  display: flex;
  padding: 6px;
}

.top h1 {
  color: white;
  float: center;
  margin-left: 10px;
  margin-top: px;

  height: 40px;
}

.top .search {
  float: right;
}

.bottom {
  padding-top: 20px;
  padding-left: 120px;
  justify-content: center;
  align-items: center;
}

.viewone {
  background-color: whitesmoke;
  height: 90%;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 0px;
  padding: 25px;
  border: 2px solid blue;
}

.bklst {
  height: 390px;
  width: 20%;
  margin: 30px;
  float: left;
  background-color: rgb(223, 188, 223);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  justify-content: center;
  align-items: center;
  border-top: 2px;
}

.bklst img {
  width: 100%;
  height: 300px;
  margin-top: 0px;
}

.bklst h2 {
  font-size: 19px;
  color: darkblue;
  margin-left: 2px;
  text-align: center;
  margin-bottom: 2px;
}

.bklst h3 {
  font-size: 15px;
  color: black;
  margin-top: 5x;
  font-style: normal;
}

.bklst button {
  width: 100px;
  height: 20px;
  margin-left: 20px;

  margin-bottom: 10px;
}

.bottom {
  justify-content: center;
  align-items: center;
}

.btn a {
  width: 30px;
  height: 10px;
  margin-right: 1px;
  margin-top: 900px;
}

@media (max-width: 1100px) {
  .top h1 {
    font-size: 30px;
  }
  .bklst h2 {
    font-size: 10px;
  }
}
@media (max-width: 1000px) {
  .top h1 {
    font-size: 30px;
  }
  .search {
    display: none;
  }
}
@media (max-width: 830px) {
  .btn {
    display: none;
  }
}
